/.settings
/.buildpath
/.project
/.idea
app/bootstrap.php.cache
atlassian-ide-plugin.xml
composer.phar
composer.lock
behat.yml
/vendor
build/
/cov
/web/bundles
/web/css
/web/js
/web/uploads/users/*
/web/media/cache
/web/build.js
/web/tracking.php
/app/config/parameters.yml
/app/config/parameters_test.yml
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
behat.yml
*~
bin

/app/SymfonyRequirements.php
/dev.json
/dev.lock
/UPGRADE-2.0.md
/phpunit.xml.dist
/UPGRADE.md
/UPGRADE-1.9.md
/CHANGELOG.md
/UPGRADE-1.8.md
/composer.json
/orocrm_build1.sql
/start-server.sh
/install-application.sh
/composer.lock
/behat.yml.dist
/vendor/
/bin/
/app/
.DS_Store
CHANGELOG.md
UPGRADE-1.8.md
UPGRADE-1.9.md
UPGRADE-2.0.md
UPGRADE.md
app/
behat.yml.dist
composer.json
dev.json
dev.lock
install-application.sh
orocrm_build1.sql
phpunit.xml.dist
src/.htaccess
src/CampusCRM/.DS_Store
src/CampusCRM/CampusCalendarBundle/.DS_Store
src/CampusCRM/CampusCalendarBundle/Resources/.DS_Store
src/CampusCRM/CampusCalendarBundle/Resources/config/.DS_Store
src/CampusCRM/CampusCalendarBundle/Resources/config/oro/.DS_Store
src/CampusCRM/CampusCalendarBundle/Resources/views/.DS_Store
src/CampusCRM/CampusContactBundle/.DS_Store
src/CampusCRM/CampusContactBundle/Migrations/.DS_Store
src/CampusCRM/CampusContactBundle/Migrations/Data/.DS_Store
src/CampusCRM/CampusContactBundle/Migrations/Data/ORM/.DS_Store
src/CampusCRM/CampusContactBundle/Migrations/Schema/.DS_Store
src/CampusCRM/CampusUserBundle/.DS_Store
src/CampusCRM/CampusUserBundle/Migrations/.DS_Store
src/CampusCRM/CampusUserBundle/Migrations/Schema/.DS_Store
src/CampusCRM/CampusUserBundle/Migrations/Schema/v1_0/.DS_Store
start-server.sh
web/
