{% extends 'OroUIBundle:actions:index.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% set gridName = 'eventnames-grid' %}
{% set pageTitle = 'oro.eventname.entity_plural_label'|trans %}

{% block navButtons %}
    {% include 'OroImportExportBundle:ImportExport:buttons.html.twig' with {
    entity_class: entity_class,
    exportProcessor: 'eventname',
    exportTemplateProcessor: 'eventname',
    importProcessor: 'eventname.add_or_replace',
    importTitle: 'oro.importexport.import.entity'|trans({'%entityName%': 'oro.eventname.entity_plural_label'|trans}),
    datagridName: gridName
    } %}

    {% if resource_granted('oro_eventname_create') %}
        <div class="btn-group">
            {{ UI.addButton({
                'path' : path('oro_eventname_create'),
                'entity_label': 'oro.eventname.entity_label'|trans
            }) }}
        </div>
    {% endif %}
{% endblock %}
