{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        {% if  resource_granted('VIEW', eventname, 'name') %}
            <div class="responsive-block">
                {{ UI.renderProperty('oro.eventname.name.label'|trans, eventname.name) }}
            </div>
        {% endif %}

        <div class="responsive-block">
            {{ entityConfig.renderDynamicFields(eventname) }}
        </div>
    </div>
</div>
